selenium
chardet==3.0.4
colorama==0.4.3
itsdangerous==1.1.0
MarkupSafe==1.1.1
pyasn1==0.4.8
PyJWT==1.7.1
pytz==2019.3
requests==2.22.0
rsa==4.0
six==1.13.0
termcolor==1.1.0
urllib3==1.25.7
Werkzeug==0.16.0
